{{ define "main" }}

  

  <div class="container">
    {{ .Content }}
    <br>

    <div class="container text-center">
      <div class="row row-cols-auto">
        {{ range .Pages }} <!--List objects-->

        <div class="col g-4 d-flex align-items-stretch">
          <div class="card shadow border-0" style="width: 18rem;">
            <img src="{{ .Params.featuredImage | relURL}}" class="card-img-top img-fluid" alt="map thumbnail"
            style="height:100%">
            <div class="card-body shadow">
              <a href="{{ .RelPermalink}}" class="card-text stretched-link">{{.LinkTitle}}</a>
            </div>
          </div>
        </div>
        {{ end }}

      </div>
    </div>

  </div>



{{ end }}
