<div style="background-color:#181f29">
    <div class="container mt-5 py-5">
        <div class="row" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,;color:#a4a8b0">
            <div class="col">
                <h3 >
                    My Channel
                </h3>
                <h3>
                    <a href="https://www.youtube.com/@pineappleman7657">
                    <i class="bi-youtube" style="color:red;"></i>
                    </a>
                </h3>
            </div>
            <div class="col">
                <h3><a href="/madeyesguide/about" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,;color:#a4a8b0;text-decoration:none">About</a></h3>

            </div>
        </div>


    </div>
</div>

