<nav class="sticky-top navbar navbar-expand-lg bg-dark shadow-sm"data-bs-theme="dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand"><i class="mx-3 bi-book-fill"></i>Madeyes Guide</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/madeyesguide/basics">Basics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/madeyesguide/strategy">Strategy</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Traps
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/madeyesguide/traps">Introduction</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/madeyesguide/traps/redchurch">Red Church</a></li>
              <li><a class="dropdown-item" href="/madeyesguide/traps/eversleeping">Eversleeping Town</a></li>
              <li><a class="dropdown-item" href="/madeyesguide/traps/sacredheart">Sacred Heart </a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Camping
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/madeyesguide/camping">Basics</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/madeyesguide/camping/redchurch">Red Church</a></li>
              <li><a class="dropdown-item" href="/madeyesguide/camping/eversleeping">Eversleeping Town</a></li>
              <li><a class="dropdown-item" href="/madeyesguide/camping/sacredheart">Sacred Heart </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/madeyesguide/tipsandtricks">Tips and Tricks</a>
          </li> 
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Pros/Clips</a>
          </li> 
        -->
          <li class="nav-item">
            <a class="nav-link" href="/madeyesguide/about">About me</a>
          </li> 
        </ul>

      </div>
    </div>
  </nav>